footer {
  text-align: center;
  color: #64748b;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e2e8f0;

  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5em;
  }
}
